* {
  font-size: 20px;
  margin: 3px;
  padding: 0;
}
.container {
  min-width: 500px;
  max-width: 1000px;
  padding: 10px;
  margin: 20px;
}
.form {
  margin-top: 10px;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.input__title {
  /* width: 100%; */
  width: 400px;
}

.chapter {
  display: flex;
  flex-wrap: wrap;
}
.chapter__select {
  /* width: 100%; */
  width: 404px;
}

.publication {
  display: flex;
  flex-wrap: wrap;
}
.textarea__comments {
  width: 100%;
}
.section__names {
  width: 300px;
}
