body {
  background-color: rgb(44, 43, 43);
  font-family: "Raleway", sans-serif;
}
/* Header
==================*/

.header {
  height: 350px;
  width: 100%;
  border-bottom: 5px solid rgb(85, 84, 84);
  border-top: 5px solid rgb(85, 84, 84);
}

.header__container {
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 30px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

/* Button
==================*/
.btn {
  transition: background 0.1s linear;
  cursor: pointer;
  border-width: 0px;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 14px;
  font-weight: 700;
  border-radius: 4px;
  color: rgb(201, 46, 58);
  background-color: rgb(85, 84, 84);
}
.btn:hover {
  background-color: rgb(53, 50, 50);
}

.title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 40px;
  margin-left: 70px;
  letter-spacing: 4px;
}

/* placeholder__header
==================*/
.placeholder__header {
  display: flex;
  padding: 20px 40px;
  text-align: left;
  margin-left: 26px;
}

.holder {
  height: 30px;
  width: 400px;
  font-size: 20px;
  border-color: black;
  border-radius: 7px;
  color: rgb(177, 170, 170);
  background-color: rgb(44, 43, 43);
}
.holder__button {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: rgb(235, 82, 82);
  height: 36px;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 2px;
  border-width: 0px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.1s linear;
}
.holder__button:hover {
  background-color: rgb(201, 65, 65);
}

/* menu__bar
==================*/

.menu__bar {
  padding-top: 10px;
  padding-left: 70px;
  word-spacing: 17px;
}
.menu__bar__el {
  font-weight: bold;
  font-size: 12px;
  text-decoration-line: none;
  color: rgb(245, 241, 241);
}

.menu__bar__el:hover {
  color: rgb(226, 78, 78);
  transition: backgrouncolor 0.1s linear;
}
