/* Header
==================*/
.header {
  padding: 15px 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

/* Button
==================*/
.btn {
  border-width: 0px;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 14px;
  font-weight: 700;
  border-radius: 4px;
  color: rgb(214, 66, 79);
  background-color: rgb(102, 101, 101);
}
