body {
  padding: 0;
  margin: 0;
}
.header {
  text-align: center;
  color: rgb(49, 62, 245);
  background-color: rgb(91, 226, 250);
  padding: 5px;
  font-size: 30px;
  height: 80px;
}


.button {
  position: fixed;
  right: 100px;
  top: 50px;
  width: 200px;
  height: 100px;
  font-size: 20px;
  text-decoration: underline;
  background-color: rgb(157, 229, 157);
  padding: 15px;
  cursor: pointer;
}


.button:hover {
  background-color: rgb(56, 189, 56);
}
.main {
  background-color: rgb(250, 250, 78);
}

.footer {
  text-align: center;
  color: rgb(49, 62, 245);
  background-color: rgb(91, 226, 250);
  padding: 5px;
  font-size: 30px;
}
.sidebar {
  width: 15%;
  float: left;

  background-color: rgb(250, 250, 78);
  box-sizing: border-box;
}
.sports {
  padding: 30px 0 20px 30px;
  font-weight: bold;
  font-size: 25px;
}

ul li {
  padding-bottom: 10px;
}

ul li a {
  color: rgb(34, 17, 194);
  font-size: 18px;
}
.content {
  margin-left: 15%;
}
.header-content {
  font-size: 20px;
  text-align: center;
  padding: 15px 15px;
  background-color: white;
  text-transform: uppercase;
}
.content-content {
  font-size: 20px;
  background-color: white;
  padding: 15px 15px;
}

.content-content img {
  width: 600px;
  float: left;
}
.header footer {
  background-color: rgb(91, 226, 250);
}
