/* Header
==================*/

body {
  background-color: rgb(44, 43, 43);
}
.header {
  height: 215px;
  position: absolute;
  width: 100%;
}

.header__container {
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 30px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

/* Button
==================*/
.btn {
  border-width: 0px;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 14px;
  font-weight: 700;
  border-radius: 4px;
  color: rgb(201, 46, 58);
  background-color: rgb(85, 84, 84);
}
.title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-top: 40px;
  margin-left: 70px;
  letter-spacing: 4px;
}
